set_io CLK J3
set_io BUT1 K11
set_io BUT2 P13
set_io LED1 M12
set_io LED2 R16
set_io jtag_tck E2
set_io jtag_tms H3
set_io jtag_tdi G3
set_io jtag_tdo F3
set_io uart_txd T16
set_io uart_rxd L11
set_io uart2_txd E3
set_io uart2_rxd H6
set_io trigsOut0 E4
set_io trigsIn0 D1
set_io trigsIn1 G4
set_io lockin1Out D2
set_io lockin2Out J4
set_io delay0 F4
set_io delay1 J2
set_io delay2 B1
set_io delay3 H1
set_io delay4 C1
set_io delay5 G1
set_io delay6 C2
set_io delay7 J5
set_io io_ro_clk H2


