## iCE40-hx8k breakout board (jtag via header pins)

set_io CLK  J3
set_io jtag_tck H16
set_io jtag_tdi G15
set_io jtag_tdo G16
set_io jtag_tms F15
set_io uart_txd B12
set_io uart_rxd B10
set_io io_led[0] B5
set_io io_led[1] B4
set_io io_led[2] A2
set_io io_led[3] A1
set_io io_led[4] C5
set_io io_led[5] C4
set_io io_led[6] B3
set_io io_led[7] C3